<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title></title>
			<link rel="stylesheet" href="../styles/dashboard.css"/>
		</head>
		<body>
			<nav>
				<ul>
					<li>
                		<a href="update.html">Publish a product</a>
                	</li>
					<li>
                		<a href="update.html">Update account</a>
                	</li>
                	<li>
                		<a href="delete.html">Delete account</a>
                	</li>
                	<li>
                		<a href="makeAdmin.html">Make admin</a>
                	</li>
                	<li>
                		<a href="delete.html">Delete user</a>
                	</li>
				</ul>
			</nav>
		</body>
	</html>
	