<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>Amazon</title>
			<link rel="stylesheet" href="../styles/dashboard.css"/>
		</head>
		<body>
			<nav>
				<ul>
					<li>
                		<a href="products.html">Publish a product</a>
                	</li>
					<li>
                		<a href="update.html">Update account</a>
                	</li>
                	<li>
                		<a href="delete.html">Delete account</a>
                	</li>
                	<li>
                		<a id="btn">Logout</a>
                	</li>
				</ul>
			</nav>
			<script>
				const logoutBtn = document.getElementById("btn");

				logoutBtn.addEventListener("click", function() {
					console.log("button");
					
					const endpoint = "http://localhost:8080/Amazon/logout";
		
					let fetchData = {
						method: 'POST',
						headers: new Headers()
					}
					
					fetch(endpoint, fetchData)
					.then(function() {
						console.log("Success");
					})
					.catch(function() {
						console.log("Failed")
					})
				});
			</script>
		</body>
	</html>


