<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title></title>
			<link rel="stylesheet" href="../styles/dashboard.css"/>
		</head>
		<body>
			<nav>
				<ul>
					<li>
                		<a href="update.html">Publish a product</a>
                	</li>
					<li>
                		<a href="update.html">Update account</a>
                	</li>
                	<li>
                		<a href="delete.html">Delete account</a>
                	</li>
                	<li>
                		<a href="logout.html">Logout</a>
                	</li>
				</ul>
			</nav>
			<form method="get" action="http://localhost:8080/Amazon/dashboard">
				<input type="submit" value="Dashboard"/>
			</form>
			<form method="post" action="http://localhost:8080/Amazon/dashboard">
				<input type="submit" value="Dashboard"/>
			</form>
		</body>
	</html>
	