<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>Login</title>
			<link rel="stylesheet" href="../styles/login.css"/>
		</head>
		<body>
			<div class="form-wrap">
				<form id="login-form" action="http://localhost:8080/Amazon/login" method="post">
					<h1>Login</h1>
					<input type="email" name="email" placeholder="Email" />
					<input type="password" name="password" placeholder="Password" />
					<input type="submit" value="Login"/>
				</form>
			</div>
		</body>
	</html>