<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>Publishing a product</title>
		</head>
		<body>
			<div>
				<form id ="product-form">
					<h1>Publish your product to be seen by a lot of people</h1>
					<input type="text" name="title" placeholder="Title">
					<textarea name="description" placeholder="Write a short description of your product"></textarea>
					<input type="file" id="input-file" name="image" value="Upload a image" multiple/>
					<input type="number" name="amount"/>
					<input type="submit" value="Publish your product" />
				</form>
			</div>
		</body>
	</html>
	
