<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title> Register </title>
		</head>
		<body>
			<div class="modal">
        		<div class="modal-content">
            		<h4>Register</h4><br />
            		<form name="registerForm" method="post" action="http://localhost:8080/Amazon/register">
                		<div>
                    		<input type="text" name="name"/>
                    		<label>Name</label>
                		</div>
                		<div>
                			<input type="text" name="lastName"/>
                			<label>Last Name</label>
                		</div>
                		<div>
                			<input name="email"/>
                			<label>Email</label>
                		</div>
                		<div>
                			<input name="password"/>
                			<label>Password</label>
                		</div>
                		<div>
                			<input name="country"/>
                			<label>Country</label>
                		</div>
                		<div>
                			<input name="city"/>
                			<label>City</label>
                		</div>
                		<div>
                			<input name="state"/>
                			<label>State</label>
                		</div>
                		<div>
                			<input name="postalCode"/>
                			<label>Postal Code</label>
                		</div>
                		<div>
                			<input name="phone"/>
                			<label>Phone</label>
                		</div>
                		<input type="submit"/>
            		</form>
        		</div>
    		</div>
		</body>
	</html>