h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  color: black;
}

body {
  background-color: #288d94;
}

.nav-wrapper {
  background-color: rgb(48, 46, 46);;
}

span {
  color: black;
}